<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197464553959-uhiig8k4p1038tgtfncpkgmk0la0k8tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197464553959-uhiig8k4p1038tgtfncpkgmk0la0k8tb</string>
	<key>API_KEY</key>
	<string>AIzaSyAY27fo9I-IIVU3oGoZnni5RjRIoTJD1JU</string>
	<key>GCM_SENDER_ID</key>
	<string>197464553959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haeseong.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-7a6d8</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-7a6d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197464553959:ios:0b7c149458d9d133e66542</string>
</dict>
</plist>